<meta name="viewport" content="width=device-width">
<% include css %>

<span class=status>unsaved</span>
<textarea><%- doomp.content %></textarea>
<div class='links'></div>
<footer>
    <a href='/'>new</a>
    <a href="/<%= doomp.name%>/raw">raw</a>
    <% if (doomp.protected) { %>
        <a href="/<%= doomp.name%>/protect">change password</a>  
        <a href="/<%= doomp.name%>/logout">logout</a>  
    <% } else { %>
        <a href="/<%= doomp.name%>/protect" class=protect>protect</a>   
    <% } %>
    <a href="#" onclick="toggleLinks(); return false;">links</a>
</footer>


<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.jsdelivr.net/taboverride/4.0.2/taboverride.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script>
    
    var DOOMP = {
        name: '<%= doomp.name%>',
        changed: false,
        currentLength: $('textarea').val().length,

        workOutIfChanged: function() {
            var newLength = $('textarea').val().length;
            console.log(newLength, this.currentLength)
            if (newLength != this.currentLength) {
                this.changed = true
                this.currentLength = newLength
                $('.status').slideDown();
            }
        },

        saveWhenChanged: function() {
            if (DOOMP.changed) {
                $.post( '/'+DOOMP.name, {content: $('textarea').val()}, function() {
                    DOOMP.changed = false                    
                    $('.status').slideUp();
                    socket.emit('content', { name: DOOMP.name, content: $('textarea').val() })
                })
            }
        }
    };
    
    var socket = io();
    socket.emit("register", {name: DOOMP.name});
    socket.on('content', function(content) {
      $('textarea').val(content);
    });

    $(function(){
        toggleLinks();    
      
        setInterval(DOOMP.saveWhenChanged, 3000)


        $( "textarea" ).keyup(function() {
            DOOMP.workOutIfChanged()
        });

        tabOverride.set($( "textarea" ));

    });

    function toggleLinks() {
        $('.links').html('')

        var regexp = /\b(?:(?:https?|ftp|file):\/\/|www\.|ftp\.)[-A-Z0-9+&@#/%=~_|$?!:,.]*[A-Z0-9+&@#\/%=~_|$]/gi    
        var linkPresent = false; 
        while ((match = regexp.exec($('textarea').val())) != null) {
            linkPresent = true;
            $('.links').append('<a href="'+match+'">'+match+'</a>')
        }
        if (linkPresent) {
            $('.links').animate({width: 'toggle'});
        }

    }


</script>
