<meta name="viewport" content="width=device-width">
<style type="text/css">
    body {
        background-color: #222;
        color: #FDFDFD;
    }

    textarea {
        background-color: #222;
        color: #FDFDFD;
        display: block;
        margin: 25px auto 0 auto;
        width: 90%;
        height: 93%;
        font-size: 15px;
        line-height: 1.2;
        border: none;
        resize: none;
        overflow-y: auto;
    }
    textarea:focus {
        outline: none;
    }

    footer {
        border-top: 1px solid #777;
        height: 25px;
        width: 100%;
        text-align: center;
        padding-top: 5px;
   
    }

    footer a {
        color: #999;
        font: 14px sans-serif;
        text-decoration: none;
        margin: 14px;
    }

    footer a:hover {
        color: #F2F4F8;
        text-decoration: dotted;
    }

    .links {
        display: none;
        position: fixed;
        bottom: 35;
        right: 0;
        top: 0;
        width: 150px;
        overflow-wrap: break-word;
        border-left: 1px dotted #333;
        background-color: #262626;
        padding: 5px 11px;
        overflow-y: scroll;
    }

    .links a {
        color: #F1F3E3;
        font-family: Verdana;
        font-size: 11px;
        padding: 5px 0;
        text-decoration: none;
        display: block;

    }

    .status {
        display: none;
        position: absolute;
        left: 49%;
        top: 0;
        font: 11px sans-serif;
        color: #777;

    }
</style>

<span class=status>unsaved</span>
<textarea><%= @doomp['content'] %></textarea>
<div class='links'></div>
<footer>
    <a href='/'>new</a>
    <a href="/<%= params[:name]%>/raw">raw</a>
    <% if @doomp['protected'] %>
        <a href="/<%= params[:name]%>/protect">change password</a>  
        <a href="/<%= params[:name]%>/logout">logout</a>  
    <% else %>
        <a href="/<%= params[:name]%>/protect" class=protect>protect</a>   
    <% end %>
    <a href="#" onclick="toggleLinks(); return false;">links</a>
</footer>


<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.jsdelivr.net/taboverride/4.0.2/taboverride.min.js"></script>

<script>
    var DOOMP = {
        changed: false,
        currentLength: $('textarea').val().length,

        workOutIfChanged: function(newLength) {
            if(newLength != this.currentLength) {
                this.changed = true
                this.currentLength = newLength
                $('.status').slideDown();
            }
        },

        saveWhenChanged: function() {
            if (DOOMP.changed) {
                $.post( "/<%= params[:name] %>", {content: $('textarea').val()}, function() {
                    DOOMP.changed = false
                     $('.status').slideUp();
                })
            }
        },
 
        keepFresh: function() {
            if (!DOOMP.changed) {
                $.get("/<%= params[:name] %>/raw", function(content){
                   $('textarea').val(htmldecode(content)) 
                })
            }   
        }
    }

    $(function(){
        toggleLinks();    

        setInterval(DOOMP.saveWhenChanged, 3000)
        setInterval(DOOMP.keepFresh, 5000);


        $( "textarea" ).keyup(function() {
            DOOMP.workOutIfChanged($('textarea').val().length)
        });

        tabOverride.set($( "textarea" ));

    });

    function toggleLinks() {
        $('.links').html('')

        var regexp = /\b(?:(?:https?|ftp|file):\/\/|www\.|ftp\.)[-A-Z0-9+&@#/%=~_|$?!:,.]*[A-Z0-9+&@#\/%=~_|$]/gi    
        var linkPresent = false; 
        while ((match = regexp.exec($('textarea').val())) != null) {
            linkPresent = true;
            $('.links').append('<a href="'+match+'">'+match+'</a>')
        }
        if (linkPresent) {
            $('.links').animate({width: 'toggle'});
        }

    }

    function htmldecode(encoded) {
        return $("<div/>").html(encoded).text();
    }

</script>